/* task_lists */

.taskLists {
  .taskLists__title {
    padding: 10px;
    font-size: 1.3em;
  }
  
  .taskLists__lists {
    margin: 0;
  }
  
  .taskLists__list {
    position: relative;
    border: solid #374646;
    border-width: 1px 0 0;
    
    &.putting {
      opacity: .6;
    }
    
    .taskLists__list__handle {
      $stripe_c: #374646;
      display: block;
      position: absolute;
      top: 2px;
      bottom: 2px;
      left: 2px;
      width: 13px;
      background-size: 5px 2px;
      background-repeat: repeat-y;
      background-position: 3px 0;
      background-image: linear-gradient($stripe_c 50%, transparent 50%, transparent);
      cursor: move;
      z-index: 5;
    }
    
    a.taskLists__list__name {
      display: block;
      cursor: pointer;
      line-height: 2em;
      background-color: #596464;
      color: #fff;
      padding-left: 20px;
      padding-right: calc(10px + 1.7em);
    }
    
    .taskLists__list__length-unfinished {
      background-color: #4a5555;
      padding: 1px 6px;
      border-radius: 5px;
      margin-left: .5em;
    }
    
    .taskLists__list__btn-edit {
      position: absolute;
      top: 50%;
      right: 10px;
      margin-top: -.85em;
    }
  }
  
  .tasklists__list--placeholder {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #374646;
    color: #eee;
    font-size: .5em;
    text-align: center;
  }
  
  .taskLists__list__edit-form {
    position: relative;
    
    .taskLists__list__edit-form__input {
      padding-right: 6em;
    }
    
    .taskLists__list__edit-form__btns {
      position: absolute;
      top: 50%;
      right: 10px;
      margin-top: -.75em;
      
      .btn {
        margin-left: .1em;
        background-color: #596464;
        color: #fff;
      }
    }
  }
  
  .input {
    height: 2em;
    color: #374646;
    background-color: #ababab;
    padding-right: 2.5em;
  }
}
