/* Default
   ----------------------------------------------------------------- */
.header {
  height: 50px;
  padding: 0 20px;
  line-height: 50px;
  color: #fff;
  background-color: #618f8e;
  
  .header__title {
    font-size: 1.5em;
  }
}

.global-nav {
  position: absolute;
  top: 50px;
  left: 0;
  bottom: 0;
  width: 300px;
  overflow: auto;
  color: #fff;
  background-color: #4a5555;
}

.content-main {
  box-sizing: border-box;
  margin-left: 300px;
  height: calc(100% - 50px);
  overflow: auto;
  background-color: #fafafa;
  padding: 25px;
}

.u-mgb-10 {
  margin-bottom: 10px;
}