/* button */

.btn {
  height: 1.7em;
  min-width: 1.7em;
  border: none;
  border-radius: 1.7em;
  font-size: .9em;
  padding: 0 .4em;
  background-color: #d5d5d5;
  color: #666;
  
  &:hover {
    opacity: .8;
  }
}
